/* GENERAL */

*
{
    font-family: monospace !important;
    font-size: 14px;
}

html
{
    height: 100%;
}

body
{
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#template
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgb(230, 230, 230);
}

.title
{
    font-size: 45px;
    text-align: center;
    margin: 30px;
}

#welcome, #catalog, #login, #user_list
{
    flex-grow: 1;
}

.invisible
{
    visibility: hidden;
}

/* SCROLLBAR */

/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Background */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Rectangle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Rectangle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*----------------------------------------------------------------*/

/* MENU */

#menu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    min-height: 60px;
    width: 100%;
    padding: 10px 30px;

    background-color: rgb(30, 30, 30);
    box-shadow: 0px 5px 8px grey;
    color: whitesmoke;
    position: sticky;
    top: 0px;
    z-index: 1;
}

#menu_items_right, #menu_items_left
{
    display: flex;
    flex-direction: row;
}

#menu_items_left a
{
    padding: 5px 20px 5px 0px;
}

#menu_items_right a
{
    padding: 5px 0px 5px 20px;
}

#menu_items_left a, #menu_items_right a
{
    display: inline-block;
    box-sizing: border-box;

    text-decoration: none;
    font-size: large;
    color: white;
}

#menu_items_left a:hover, #menu_items_right a:hover
{
    color: grey;
}

.menu_selected
{
    color: grey !important;
}

.logout_menu_form
{
    display: none;
}

#user_menu_href
{
    width: 190px !important;
    background: rgb(30, 30, 30);
    padding: 5px;
    padding-right: 10px;
    text-align: center;
}

#menu_dropdown
{
    display: inline-block;
    position: relative;
}

#menu_dropdown_items
{
    width: 170px;
    border-top: 0px;
    background-color: rgb(30, 30, 30);
    box-sizing: border-box;
    padding: 5px;
    padding-top: 15.5px;
    right: 0px;

    position: absolute;
    z-index: 1;
}

#menu_dropdown_items > a
{
    text-align: left;
    padding: 5px 10px;
    width: 100%;
}

.menu_dropdown_arrow
{
    fill:white;
    padding-left: 5px;
    height: 14px;
    vertical-align: -2px;
}

/*----------------------------------------------------------------*/

/* WELCOME PAGE */

#welcome
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    /*To center welcome message relative to the whole page*/
    margin-bottom: 60px;
}

#welcome h1
{
    margin: 20px;
    font-size: 35px;
}

#welcome_link
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: large;
    color:grey;
}

#welcome_link:hover
{
    color: darkgrey;
}

#arrow_right
{
    height: 40px;
}

/*----------------------------------------------------------------*/

/* CATALOG PAGE*/

#catalog
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* STAMP CARDS AND TABLE */

#stamps_table
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.stamp_card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    width: 280px;
    background-color: white;
    border: solid 2px black;
    box-shadow: 5px 5px 8px grey;
    border-radius: 5px;

    height: 400px;
    margin: 10px;
}

.stamp_name
{
    font-size: large;
}

.stamp_image
{
    max-width: 240px;
    max-height: 240px;
}

.stamp_description
{
    height: 70px;
    overflow: auto;

    margin: 0px;
    padding: 10px;
    border-top: 2px solid black;
}

.stamp_name
{
    margin: 10px;
    text-align: center;
}

/*----------------------------------------------------------------*/

/* FILTER FORM */

.filter
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.filter_fieldset
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: white;
    box-shadow: 0px 5px 5px grey;

    margin: 0px 10px;
    border: 2.0px solid black;
}

.filter_fieldset legend
{
    background-color: white;
    border: 2.0px solid black;
}

.filter_form
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.filter_form_table
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.filter_form_table input, .filter_form_table select
{
    height: 25px;
    box-sizing: border-box;
}

.form_checkboxes
{
    display: flex;
    flex-direction: row;
}

button
{
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    height: 25px;
}

.form_buttons
{
    font-size: 0;
}

.form_button
{
    margin-left: 10px;
}

.button_black
{
    background-color: rgb(30, 30, 30);
}

.button_black:hover
{
    background-color: rgb(230, 230, 230);
    color: black;
}

.button_red
{
    background-color: red;
}

.button_red:hover
{
    background-color: lightcoral;
}

.button_blue
{
    background-color: blue;
}

.button_blue:hover
{
    background-color: lightskyblue;
}

.button_green
{
    background-color: green;
}

.button_green:hover
{
    background-color: lightgreen;
}

.button_grey
{
    background-color: grey;
}

.button_grey:hover
{
    background-color: lightgray;
}

.href_button
{
    color: white;
    border: 2px solid black;
    vertical-align: middle;
    padding: 2px 6px;
    border-radius: 5px;
    text-decoration: none;
}

.filter_search_result
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    text-align: center;
}

.filter_search_parameters
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter_search_parameters p
{
    margin: 0;
}

/*----------------------------------------------------------------*/

/* PAGES */

#create_cliente, #edit_cliente, #edit_user, #create_user, #login, #email_verify, #password_reset_email, #password_reset, #user_show
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.message
{
    margin: 0px;
}

.message_error
{
    margin: 5px !important;
    padding: 5px;
    color: red;
    background-color: lightcoral;
    border: solid 1.5px red;
    border-radius: 5px;
}

.message_success
{
    margin: 5px !important;
    padding: 5px;
    color: green;
    background-color: lightgreen;
    border: solid 1.5px green;
    border-radius: 5px;
}

.email_sent
{
    margin:30px;
    text-align: center;
}

/*----------------------------------------------------------------*/

/* FORMA AS A TABLE*/

.table_form
{
    display: table;
}

.table_form > div
{
    display: table-row;
}

.table_form label, .table_form input, .table_form select, .table_form textarea

{
    box-sizing: border-box;
}

.table_form label
{
    padding-right: 10px;
    vertical-align: bottom;
}

.table_form input, .table_form select, .table_form textarea
{
    width: 100%;
    height: 22px;
}

.table_form button
{
    float: right;
}

.table_form label, .table_form input, .table_form button, .table_form select, .table_form textarea, .table_form p
{
    display: table-cell;
}

.table_form label, .table_form input, .table_form button, .table_form select, .table_form textarea
{
    margin-top: 10px;
}

.form_error_message p
{
    padding-top: 4px;
    font-size: 10px;
    color: red;
    max-width: 250px;
}

.form_error_message label
{
    height: 0;
    margin: 0;
}

.form_password_reset
{
    padding-top: 10px;
}

.table_form textarea
{
    resize: vertical;
    min-height: 22px;
    vertical-align: bottom;
}

.table_form button[type="submit"]
{
    margin: 10px 0px;
}

#login .table_form input, #password_reset_email .table_form input, #password_reset .table_form input
{
    width: 200px;
}

#login .form_error_message p, #password_reset_email .form_error_message p, #password_reset .form_error_message p
{
    max-width: 200px;
}

/*----------------------------------*/

.optional_field_indicator
{
    font-style: italic;
    font-size: 10px;
    color: grey;
}

/* Taken from https://www.w3schools.com/css/css_tooltip.asp#:~:text=A%20tooltip%20is%20often%20used,Bottom but altered */

/* Tooltip container */
.tooltip
{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip texts */
.tooltiptext_bottom
{
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    top: 140%;
    left:0;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text*/
    position: absolute;
    z-index: 1;
}

.tooltiptext_top
{
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    bottom: 140%;
    left:0;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text*/
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext_bottom,.tooltip:hover .tooltiptext_top
{
    visibility: visible;
}

/* Tooltip text arrow */
.tooltip .tooltiptext_bottom::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 15px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip .tooltiptext_top::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 15px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/*----------------------------------------------------------------*/

/* USER LIST PAGE */

#user_list
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#list
{
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 100%;
}

.list_item
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    padding: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 5px 5px 5px grey;
    box-sizing: border-box;
}

.item_photo, .profile_img img
{
    border-radius: 10px;
    max-width: 128px;
    max-height: 128px;
    box-shadow: 5px 5px 5px grey;
}

.item_photo
{
    margin: 20px;
}

.item_info
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.item_buttons
{
    display: flex;
    flex-direction: row;
}

.item_buttons button, .item_buttons a
{
    margin-left: 10px;
}

.add_user_div
{
    margin: 10px 0px;
}

/*----------------------------------------------------------------*/

/* PROFILE */

.profile
{
    display: flex;
    flex-direction: column;
}

.profile_img
{
    text-align: center;
    margin-bottom: 20px;
}

.profile a
{
    float: right;

}

@media (max-width: 1000px)
{
    /* STAMPS FILTER*/

    .filter
    {
        flex-direction: column;
        align-items: center;
    }

    .filter_fieldset
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        box-sizing: border-box;
        width: 280px;
        border: 2.0px solid black;
    }

    .filter_form
    {
        display: flex;
        flex-direction: column;
    }

    .filter_form_table
    {
        display: table;
    }

    .filter_form_table > div
    {
        display: table-row;
    }

    .filter_form_table label
    {
        display: table-cell;
        padding-right: 20px;
    }

    .filter_form_table input, .filter_form_table select
    {
        display: table-cell;
        right: 0;

        box-sizing: border-box;
        width: 100%;
    }

    .filter_form_table input, .filter_form_table select, .filter_form_table label
    {
        margin-top: 10px;
    }

    .form_checkboxes
    {
        display: table-row;
    }

    .form_buttons
    {
        display: flex;
        flex-direction: row;
    }

    .form_button
    {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 10px;
    }
}

@media (max-width: 600px)
{
    #list
    {
        align-items: center;
    }

    .list_item
    {
        flex-direction: column;
        align-items: center;
        width: 280px;
        padding: 0px;
    }

    .item_info
    {
        padding: 0px 20px 20px 20px;
    }

    .item_info p
    {
        margin: 5px 0px;
    }

    .item_buttons
    {
        justify-content: space-around;
        box-sizing: border-box;
        border-top: 2px solid black;
        width: 100%;
        padding: 10px;
    }

    .item_buttons button
    {
        margin-left: 0px;
    }

    .table_form > div
    {
        display: flex;
        flex-direction: column;
    }

    .table_form input, #register .table_form select, .table_form textarea
    {
        margin-top: 4px;
    }

    .table_form .empty_label
    {
        margin: 0px;
    }

    .table_form .form_password_reset
    {
        padding: 0px;
        text-align: center;
        margin-top: 8px;
    }

    .form_error_message p
    {
        padding-top: 0px;
        margin: 4px 0px;
    }

    .filter_search_result
    {
        max-width: 280px;
    }

    #email_verify > div
    {
        max-width: 250px;
        text-align: center;
    }

    #email_verify .title
    {
        font-size: 35px;
    }

    .profile
    {
        margin: 30px;
    }

    .profile a
    {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
}

@media (max-width: 500px)
{
    #menu_items_left a, #menu_items_right a
    {
        padding: 5px 0px;
    }

    #menu_items_right, #menu_items_left
    {
        flex-direction: column;
    }

    #menu_items_right
    {
        align-items: flex-end;
    }
}

